body {
  font-family: "Chloe";
  font-weight: 400;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}
hr{
	width: 200px;
}
.navbar-fixed-top.scrolled {
  background-color: #3a3b3d !important;
  transition: background-color 200ms linear;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color:#d5dae2;
  transition: all .4s ease;
}
@font-face {
  font-family: "Chloe";
  src: url(../fonts/Chloe.ttf) format("truetype");
}
.fa{
  padding-right: 5px;
}
.ir-arriba {
	display:none;
	padding:20px;
	background:#3a3b3d;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  z-index: 1007;
}
.navbar {
  margin-bottom: 0;
  font-family: "Chloe";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;;
}

.navbar-default {
  background: transparent;
  opacity: .9;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #e7e7e7;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  padding-bottom: 5px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 58px;
}

.logo {
  max-width: 200px;
}

#header {
  height: 60%;
  background-image: url(../images/borrosa.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header img {
  padding-top: 150px;
  max-width: 700px;
}

#icons {
  padding-top: 20px;
  font-size: 30px;
  color: white;
  letter-spacing: 5px;
}

#icons2 img {
  max-width: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about {
  font-weight: 600;
  font-size: 35px;
}

#about h1 {
  padding: 48px;
  padding-bottom: 10px;
}

#about p {
  padding: 48px;
  padding-top: 10px;
  text-align: justify;
}

#about img {
  padding-top: 50px;
  padding-left: 100px;
  max-width: 500px;
}

#parallax {
  letter-spacing: 5px;
  font-weight: 600;
  padding-top: 160px;
  color: white;
  font-size: 50px;
  height: 480px;
  background-image: url(../images/IMG_0843.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax2 {
  letter-spacing: 5px;
  font-weight: 600;
  padding-top: 160px;
  color: white;
  font-size: 50px;
  height: 430px;
  background-image: url(../images/IMG_0876.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.red {
  position: fixed;
  top: 200px;
  z-index: 100;
  left: 0;
  top: 35%;
}

#facebook a {
  background: #000;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  width: 55px;
  transition: all .4s ease;
}

#facebook a:hover {
  background: #3b5998;
  padding: 10px 50px;
}

#instagram a {
  background: #7f8287;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  width: 55px;
  transition: all .4s ease;
}

#instagram a:hover {
  background: #bb0000;
  padding: 10px 50px;
}

#beneficios {
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#beneficios img {
  max-width: 100%;
}

#beneficios h1 {
  padding-bottom: 20px;
  font-size: 60px;
}

#seccion_detalles {
  margin: 0px;
}

#seccion_detalles div {
  padding-left: 0px;
  padding-right: 0px;
}

#seccion_detalles h1 {
  padding-top: 110px;
  padding-right: 0px;
}

#seccion_detalles2 {
  background-color: #eaebed;
}

#seccion_detalles3 {
  background-color: #eaebed;
}

#testimonios {
 font-size: 35px;
 padding-top: 80px;
 padding-bottom: 80px;
}


#contacto {
  font-weight: 600;
  background-color: #eaebed;
  font-size: 30px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
#pedido{
  padding-top: 50px;
}
#logo {
  padding-top: 80px;
}

#face {
  background: #000;
}

#face a {
  color: white;
  transition: all .4s ease;
  text-decoration: none;
}

#face a:hover {
  background: #3b5998;
}

#insta {
  background: #7f8287;
}

#insta a {
  color: white;
  transition: all .4s ease;
  text-decoration: none;
}
#insta a:hover {
  background: red;
}

#insta, #face {
  margin: 5px;
  display: inline-block;
}

#insta a, #face a {
  padding: 10px;
}

#face a {
  padding-left: 13px;
  padding-right: 13px;
}
#test{
	border-radius: 50%;
	max-height: 100px;
	max-width: 100px;
}
#tests{
	max-height: 200px;
}

@media only screen and (max-width: 800px) {
  .navbar{
    font-size: 18px;
  }
  .navbar-collapse{
    background-color: #3a3b3d;
  }
  #header {
    height: 60%;
  }
  #icons {
    padding: 0px;
    font-size: 30px;
  }
  #about h1 {
    padding: 10px;
  }
  #about p {
    padding: 0px;
  }
  #about img {
    padding: 0px;
    max-width: 100% !important;
  }
  #beneficios {
    font-size: 20px;
  }
  #beneficios img {
    max-width: 100% !important;
    ;
  }
  #parallax {
    font-size: 24px;
    height: 200px;
    padding-top: 55px;
  }
  #parallax2 {
    font-size: 24px;
    height: 200px;
    padding-top: 80px;
  }
  #seccion_detalles {}
  #seccion_detalles h1 {
    padding-top: 0px;
  }
  #seccion_detalles img {
    max-width: 100% !important;
  }
  #header img {
    padding-top: 100px;
    max-width: 100%;
  }
  #icons2 img {
    max-width: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px;
  }
}
